<div class="story-body">
  <p>At five in the morning, Perley Frazier loads his 42 by 15 feet wide boat with stacks of crates and goes out on the water. Five minutes into the ride, the pristine blue of the Gulf of Maine is interrupted by a sea of floating buoys. Some are faded, withered by the saltwater. Others, like Frazier’s, are freshly painted indicating to whom the metal traps underneath belong to. 
</p>
  <p>He spots his signature black, white, and red striped buoys a mile off the coast, and with the help of his two sternmen, hauls up the lobster traps onto the main deck.

</p>
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="images/map_china_us_cad.svg"></p>
  <p>“Can’t do it all on my own,'' 71-year-old Frazier says. For the past 45 years, he’s been fishing in his hometown of Stonington, the largest lobster port in Maine. Like many in the field, Frazier has been a first-hand witness to the tumultuous industry that sustains the state. Since the early 2000s, the population of American lobster (Homarus americanus) on the Maine coast has doubled, landing an average of more than 100 million pounds of lobster a year for the past decade. But with the boom of the adult lobster population came the decrease of juvenile lobsters, vulnerable to the warming waters of the Gulf of Maine. This 400-year-old industry withstood many setbacks due to climate change, but today, a different force is testing the resilience of Maine fisheries.
   <p>In an attempt to encourage consumers to buy more American goods, in June 2018 the Trump Administration placed tariffs on billions of dollars’ worth of goods coming from China. Meaning that importers must pay a tax on the product they want to sell to the US (OR: This means that both nations’ importers must pay a tax on the product they want to sell to each other). Days later, China pushed back with retaliatory tariffs on US goods of a similar value, including American seafood. 
</p> 

</p>
</div>